html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Circular Std","Noto Sans KR";

}

a{text-decoration: none;}
ol,
ul {
    list-style: none;
}

/* 스크롤바 색상변경 */
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #edefef;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: red;
  }
  

@font-face {
    font-family: "Nanum Gothic";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/nanumgothic/v21/PN_3Rfi-oW3hYwmKDpxS7F_z-9LZxnthzY0SO7Jj27F-wOe3JI_cmfgf-Q.0.woff2) format("woff2");
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}

@font-face {
    font-family: "Source Serif Pro";
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sourceserifpro/v15/neIVzD-0qpwxpaWvjeD0X88SAOeauXEGbSqay60rVLG_bFHq.woff2) format("woff2");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


@keyframes floating {
    from {
        transform: translate(0, 0px);
    }

    65% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, -0px);
    }
}

@keyframes text1 {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(-50px);
    }
}

@keyframes menu-liner {
    0% {
        opacity: 0;
        width: 0%;
    }

    50% {
        opacity: 1;
        width: 50%;
    }

    100% {
        opacity: 1;
        width: 100%;
    }
}

.popmenu {

}
.popmenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #EEF8FF;
    z-index: 9999;
  }
  .popmenu .closeBtn {
    position: absolute;
    top: 35px;
    right: 20px;
  }
  .popmenu .closeBtn img {
    width: 47px;
  }
  .popmenu .moicon {
    padding: 40px 20px 0;
  }
  .popmenu .moicon button {
    display: flex;
    justify-content: space-between;
    width: 25%;
    border: none;
    background: transparent;
  }
  .popmenu .moicon button span img {
    width: 25px;
    margin-right: 15px;
  }
  .popmenu .moicon button span:nth-of-type(4) {
    display: flex;
    align-items: center;
  }
  .popmenu .moicon button span:nth-of-type(4) img {
    margin-right: 5px;
  }
  .popmenu .moicon button span:nth-of-type(4) .mocart-count {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #DC272D;
    border-radius: 50%;
    text-align: center;
    margin: 0;
    font-size: 11px;
  }
  .popmenu .moicon button span:nth-of-type(4) .mocart-count .mocount-num {
    margin: 0;
    color: #fff;
    font-size: 11px;
    line-height: 20px;
  }
  .popmenu .momenu01 {
    padding: 0 20px;
    margin-top: 52px;
    position: relative;
  }
  .popmenu .momenu01 ul li {
    margin-top: 25px;
  }
  .popmenu .momenu01 ul li a {
    font-family: "Circular Std", "Noto Sans KR";
    font-size: 33px;
    color: #DC272D;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0;
    text-decoration: none;
  }
  .popmenu .momenu02 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 20px 30px;
    bottom: 0;
  }
  .popmenu .momenu02 ul li {
    margin-top: 16px;
  }
  .popmenu .momenu02 ul li a {
    font-family: "Circular Std", "Noto Sans KR";
    font-size: 16px;
    color: #231F20;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
  }