@import url(./common.css);
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap');


main {
  width: 100%;
  margin: 0 auto;


  .main-container {
    text-align: center;
    width: 100%;
    padding: 150px 0 70px 0;
    margin: 0 auto;
    background: linear-gradient(to bottom, #eef9ff, #fff, #fff);


    h2 {
      font-size: 33px;
      font-family: 'Source Serif Pro', serif;
      font-style: italic;
      font-weight: normal;
      color: #231F20;
      line-height: 1;
      letter-spacing: 0;
      display: block;
    }

    ul {
      width: 10%;
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      margin: 0 auto;

      li {

        cursor: pointer;

        a {
          display: block;
          font-size: 16px;
          color: #6F6F6F;
          letter-spacing: 0.03em;
          position: relative;
          transition: all 0.3s;
          font-family: "Circular Std", "Noto Sans KR";
        }
      }
    }
  }

  .faq-box {
    width: 60%;
    margin: 0 auto;

    h2 {
      text-align: left;
      font-size: 23px;
      letter-spacing: 0;
      margin: 0;
      padding: 0 0 30px;
      text-align: left;
      color: #231F20 ! important;
      letter-spacing: 0;
      line-height: 1.2;

    }

  }

  .container {
    margin-bottom: 40px;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 0.5px;
      background: #bfe1f0;
      top: 50%;
      right: 42px;
      margin-top: -1px;
      transition: all 0.3s;
    }
  }

  .accordion {
    background-color: #ffffff;
    cursor: pointer;
    padding: 32px;
    width: 100%;
    outline: none;
    border: none;
    text-align: left;
    font-size: 16px;
    transition: 0.4s;
    position: relative;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;


    .notice-num {
      width: 150px;
      text-align: center;
      color: #009BDE;
      font-weight: 500;
      line-height: 1.1;
      font-family: "Circular Std", "Noto Sans KR";
      letter-spacing: -0.05em;

    }

    .info {
      width: 95%;
      text-align: left;

    }

    .info-btn {
      a {
        position: relative;

      }
    }
  }

  .accordion .info-btn a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    z-index: 999;
  }

  .accordion .info-btn a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }

  .accordion.active .info-btn a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: 0.3s;
    z-index: 999;
  }

  .accordion.active .info-btn a::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 18px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }


  .info-btn {
    a {}
  }
}


.active,
.accordion:hover {
  background-color: #f5f5f5;
  font-weight: bold;
}

.panel {
  max-height: 0;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #bfe1f0;
  letter-spacing: -0.05em;
  display: block;
  background-color: #EEF8FF;
  font-size: 14px;
  color: #231F20;
  line-height: 1.5;

  overflow: hidden;

  p {
    padding: 40px 30px;
  }

}

.page-num {
  display: flex;
  justify-content: space-around;
  width: 10%;
  margin: 0 auto;


  img {
    margin: 0 40px;
  }

  p {
    padding: 0 18px;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 0;
    background-color: #DC272D;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
  }

}

