@import url(./common.css);

body {
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 105px;
  background: transparent;
  width: 100%;
  margin-top: 35px;
  z-index: 2;


  .header-container01 {
    margin: 0 auto;
    display: table;

    a {
      max-width: 194px;
      height: 35px;

      img {}
    }
  }

  .header-container02 {

    display: flex;
    justify-content: space-between;
    margin-top: -35px;

    padding: 0 30px;

    .menu01 {
      height: 105px;

      ul {
        display: flex;
        justify-content: space-between;

        li {

          a {
            color: #DC272D;
            text-decoration: none;
            font-size: 18px;
            margin-right: 40px;

            &:hover {
              border-bottom: 2px solid #DC272D;
              transition: 3ms;
              animation-name: menu-liner;
              animation-duration: 3ms;
            }
          }
        }
      }
    }

    .icon {
      button {
        background: transparent;
        border: none;
        display: flex;
        width: 262px;
        justify-content: space-between;
      }

      span {
        img {
          padding: 0px 10px 0px 0px;
          cursor: pointer;
        }
      }

      .cart-count {
        display: inline-block;
        width: 26px;
        height: 26px;
        line-height: 28px;
        border-radius: 50%;
        margin-left: 5px;
        background-color: #DC272D;
        font-size: 15px;
        color: #FFFFFF;
        text-align: center;
        margin-left: -30px;
      }
    }
  }
}

main {
  position: relative;
  min-height: 100%;
  padding-bottom: 352px;
  top: 0;
  width: 100%;

  //SM
  .container-2 {
    background: #EEF8FF;
    padding: 100px 0 90px;

    .collection-title {
      text-align: center;
      padding-bottom: 70px;

      h2 {
        font-size: 50px;
        line-height: 50px;
        font-weight: 400;
        color: #DC272D;
      }

      p {
        font-size: 19px;
        color: #009BDE;
        letter-spacing: 0;
      }
    }

    .w-1280 {
      max-width: 1280px;
      margin: 0 auto;

      .con-wrap {
        position: relative;

        .product-text {
          text-align: center;

          .btn {
            display: inline-block;
            font-size: 13px;
            color: #009BDE;
            margin-bottom: 20px;
            padding: 13px 18px 11px;
            border: 1px solid #009BDE;
            border-radius: 60px;
            font-weight: 500;
          }

          .t01 {
            font-size: 20px;
            line-height: 1;
            color: #231F20;
            font-family: 'Source Serif Pro', serif;
            font-weight: 500;
          }

          .t02 {
            font-size: 15px;
            color: #231F20;
            font-weight: 500;
            margin-top: 14px;
            letter-spacing: -0.05em;
          }
        }

        .img-box {
          height: 100%;
          background-color: #fff;
          border-radius: 20px;
          margin: 20px 0;

          .product-img {
            a {
              display: block;
              width: 100%;
              padding: 40px;
              box-sizing: border-box;

              img {
                width: 100%;
                animation-name: floating;
                animation-duration: 2.5s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
              }
            }
          }
        }

        .product-text02 {
          .ml {
            display: block;
            font-size: 16px;
            margin-bottom: 15px;
            color: #231F20;
            font-family: 'Source Serif Pro', serif;
            letter-spacing: 0px;
            font-style: italic;
            text-align: center;
          }

          .product-text03 {
            display: flex;
            justify-content: center;
            margin: 25px 0 50px 0;


            .sale {
              font-size: 20px;
              letter-spacing: 0;
              color: #DC272D;
              font-weight: 400;
              margin-right: 10px;
            }

            .pay {
              font-size: 20px;
              letter-spacing: 0;
            }
          }

        }
      }
    }

    .swiper-button-next {
      transform: none;
    }

    .swiper-button-prev {
      &::after {
        transform: none;
      }
    }

    .swiper-horizontal>.swiper-pagination-progressbar,
    .swiper-pagination-progressbar.swiper-pagination-horizontal {
      bottom: 0;
      top: unset;
    }
  }

  .a {
    width: 100vw;

    .swiper {
      width: 100%;
      height: 100%;

    }

    .swiper-slide {
      width: 100%;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      a {
        width: 100%;
        height: 100%;

        img {
          display: block;
          width: 100%;
          object-fit: cover;

        }

      }

    }

    .swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      width: 10px;
      height: 66px;
      left: 11.5vw;
      bottom: 69px;
      color: #fff;
      font-size: 80px;
      font-style: italic;
      font-weight: 100;
      transform: translate(-20px, -40px)
    }


    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
      right: auto;
      left: 7.2vw;
      bottom: 87px;
      top: auto;
      filter: brightness(100);
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
      left: 15.6vw;
      bottom: 87px;
      top: auto;
      right: auto;
      filter: brightness(100);
      transform: rotate(180deg);

    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      display: none;
      content: 'next';
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
      display: none;
      content: 'prev';
    }

    .swiper-pagination span {
      font-style: none;
      font-size: 30px;
      color: #fff;
      font-family: "Florencesans", "Noto Sans KR";
    }

    .swiper-pagination-current {
      display: block;
      transform: translate(-10px, 20px);
    }

    .swiper-pagination-total {
      display: block;
      transform: translate(30px, -20px);

    }

    .swiper-horizontal>.swiper-pagination-progressbar,
    .swiper-pagination-progressbar.swiper-pagination-horizontal,
    .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
    .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
      width: 100%;
      height: 4px;
      left: 0;
      display: none;
      top: 90%;
    }
  }

  .hello-tocobo {
    display: flex;
    justify-content: center;
    margin: 130px 0 100px 0;


    img {
      width: 630px;
      height: 630px;
      border-radius: 20px;

    }

    .hello-text {
      text-align: center;
      align-items: center;
      width: 630px;
      padding: 6.5vw 0 0;
      margin-bottom: 7.2vw;

      .text01 {
        font-size: 19px;
        color: #009BDE;
      }

      h2 {
        font-size: 60px;
        color: #DC272D;
        line-height: 66px;
        margin: 30px auto 20px;
      }

      .text02 {
        color: #231F20;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: -0.05em;
      }

      button {
        width: 229px;
        height: 50px;
        display: inline-block;
        margin: 30px 0 0;
        padding: 18px 60px;
        border-radius: 50px;
        background: linear-gradient(to bottom, #FF7E7E, #DC272D);
        border: none;
        color: #fff;
        cursor: pointer;
      }

      button:hover {
        content: '';
        background: #fff;
        color: #DC272D;
        border: 1px solid #DC272D;
        transition: 0.7s;
      }

    }
  }

  .contain {
    background: #EEF8FF;
    padding-bottom: 70px;

    .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
      background: #fff;
    }
  }

  .swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: #009BDE;
    border-radius: 10px;
    left: 0;
    top: 0;
  }

  .b {
    width: 60%;

    .collection-title {
      text-align: center;
      padding: 100px 0 70px;

      h2 {
        font-size: 50px;
        color: #DC272D;
        line-height: 50px;
        margin: 0 0 20px;
        font-weight: 400;
        letter-spacing: 0;
      }

      p {
        font-size: 19px;
        color: #009BDE;
        letter-spacing: 0;
      }
    }

    .swiper {
      width: 100%;
      height: 100%;

    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: transparent;
      display: flex;
      flex-direction: column;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }



      .product-text {
        .btn {
          display: inline-block;
          font-size: 13px;
          color: #009BDE;
          margin-bottom: 20px;
          padding: 13px 18px 11px;
          border: 1px solid #009BDE;
          border-radius: 60px;
          font-weight: 500;
          text-align: center;
        }

        .t01 {
          font-size: 20px;
          line-height: 1;
          color: #231F20;
          font-family: 'Source Serif Pro', serif;
          font-weight: 500;
        }

        .t02 {
          font-size: 15px;
          color: #231F20;
          font-weight: 500;
          margin-top: 14px;
          letter-spacing: -0.05em;
        }
      }

      a.img-box {
        width: 405px;
        height: 405px;
        background-color: #fff;
        border-radius: 20px;
        margin: 20px;

        .product-img {
          a {
            display: flex;

            img {

              animation-name: floating;
              animation-duration: 2.5s;
              animation-iteration-count: infinite;
              animation-timing-function: ease-in-out;
              margin-left: 30px;
              margin-top: 5px;
            }
          }
        }
      }

      .product-text02 {
        .ml {
          display: block;
          font-size: 16px;
          margin-bottom: 15px;
          color: #231F20;
          font-family: 'Source Serif Pro', serif;
          letter-spacing: 0px;
          font-style: italic;
          text-align: center;
        }

        .product-text03 {
          display: flex;
          justify-content: center;
          margin: 25px 0 50px 0;


          .sale {
            font-size: 20px;
            letter-spacing: 0;
            color: #DC272D;
            font-weight: 400;
            margin-right: 10px;
          }

          .pay {
            font-size: 20px;
            letter-spacing: 0;
          }
        }

      }
    }


  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    transform: translateX(-350px);
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    transform: translateX(350px);
  }

}

.vegan-container {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: 450px;
  position: relative;

  transition-duration: 0ms;
  opacity: 1;
  margin-top: 130px;
  display: flex;

  .vegan-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    align-items: flex-start;
    left: 20%;

    h2 {
      font-size: 55px;
      color: #009BDE;
      line-height: 1;
      font-weight: 400;
      letter-spacing: 0;
    }

    p {
      font-size: 16px;
      color: #202020;
      line-height: 26px;
      margin-top: 25px;
    }

    button {
      display: inline-block;
      margin-top: 60px;
      padding: 17px 56px;
      letter-spacing: 0;
      border-radius: 50px;
      text-align: center;
      font-size: 16px;
      color: #fff;
      border: 1px solid #fff;
      background: linear-gradient(to bottom, #51CAFF, #009BDE);
      cursor: pointer;

    }

    button:hover {
      content: '';
      background: #fff;
      color: #009BDE;
      border: 1px solid #009BDE;
      transition: 0.7s;
    }

  }


  .c {
    width: 66%;
    height: 596px;
    position: absolute;
    top: 0;
    left: 50%;

    .swiper {
      width: 80%;
      height: 100%;

    }


    .swiper-slide {
      text-align: center;
      font-size: 18px;
      justify-content: flex-start;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      height: 510px;
      width: 750px;
      object-fit: cover;
      transform: scale(0.9);

    }
  }

}

.ani00 {
  transform: translateY(-100px);
  background-color: #EEF8FF;
  overflow: hidden;
  width: 100%;
  height: 580px;
  display: flex;
  align-items: center;

  .d-box {
    width: 100%;
    height: 60%;
    background: transparent;


    .d {
      width: 100%;
      transform: translateX(-12%);
      height: 330px;


      animation-name: text1;
      animation-duration: 2s;
      animation-delay: 0.5s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      /* 수치변형함수 */
      animation-fill-mode: both;


      .swiper {
        width: 100%;
        height: 100%;

      }




      .swiper-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
        background-color: #EEF8FF;



        h2 {
          font-size: 55px;
          color: #DC272D;
          font-weight: 400;
          line-height: 1;
          letter-spacing: 0.02em;
          margin-bottom: 25px;
        }

        .review-text {

          font-size: 20px;
          color: #231F20;
          font-weight: 500;
        }

        .info {
          font-size: 15px;
          color: #6F6F6F;
          line-height: 25px;
          margin-top: 20px;
        }

        .date {
          font-size: 15px;
          color: #231F20;
          font-family: 'Source Serif Pro', serif;
          font-style: italic;
          margin-top: 30px;
          letter-spacing: 0;
        }
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;
        flex-direction: column;
        padding-top: 30px;



        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after {
      content: 'next';
      transform: translateX(-350px);
    }

    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
      content: 'prev';
      transform: translateX(700px);
    }
  }

  [data-aos^=fade][data-aos^=fade].aos-animate {
    opacity: 1;
    transform: translateY(15%);
  }
}

.tocobo-insta {
  margin: 0 auto;
  width: 1280px;
  padding-top: 130px;



  .insta-text {
    margin: 0 auto;
    text-align: left;

    h2 {
      font-size: 55px;
      color: #DC272D;
      line-height: 1;
      margin-bottom: 22px;
      font-weight: 400;
      letter-spacing: 0px;
    }

    p {
      font-size: 20px;
      color: #6F6F6F;
      line-height: 1;
      margin-bottom: 40px;
      font-family: 'Source Serif Pro', serif;
      letter-spacing: 0px;
      font-style: italic;
    }
  }

  .insta-img {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;

    animation-name: text1;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* 수치변형함수 */
    animation-fill-mode: both;



    .d1 {
      display: block;
      width: 150px;
      height: 150px;
      background: url(../03_images/Background/insta01.jpeg);
      background-size: 150px;
      background-repeat: no-repeat;
      // &:hover{
      //   position: absolute;
      //   width: 150px;
      //   background: #000;
      //   opacity: 30%;
      // }

    }

    .d2 {
      display: block;
      width: 150px;
      height: 150px;
      background: url(../03_images/Background/insta02.jpeg);
      background-size: 150px;
      background-repeat: no-repeat;
    }

    .d3 {
      display: block;
      width: 150px;
      height: 150px;
      background: url(../03_images/Background/insta03.jpeg);
      background-size: 150px;
      background-repeat: no-repeat;
    }

    .d4 {
      display: block;
      width: 150px;
      height: 150px;
      background: url(../03_images/Background/insta04.jpeg);
      background-size: 150px;
      background-repeat: no-repeat;
    }

    .d5 {
      display: block;
      width: 150px;
      height: 150px;
      background: url(../03_images/Background/insta05.jpeg);
      background-size: 150px;
      background-repeat: no-repeat;
    }

    .d6 {
      display: block;
      width: 150px;
      height: 150px;
      background: url(../03_images/Background/insta06.jpeg);
      background-size: 150px;
      background-repeat: no-repeat;
    }

    .d7 {
      display: block;
      width: 150px;
      height: 150px;
      background: url(../03_images/Background/insta07.jpeg);
      background-size: 150px;
      background-repeat: no-repeat;
    }

    .d8 {
      display: block;
      width: 150px;
      height: 150px;
      background: url(../03_images/Background/insta08.jpeg);
      background-size: 150px;
      background-repeat: no-repeat;
    }

    // a.d2 {
    //   display: block;
    //   width: 200px;
    //   height: 200px;
    //   img{
    //     width: 100%;
    //     height: 100%;
    //   }
  }
}

.banner-text {
  position: absolute;
  top: 10%;
  transform: translateY(-100%);
  width: 632px;
  height: 160px;
  margin-left: 150px;
  z-index: 2;

  h1 {
    font-size: 73px;
    line-height: 85px;
    color: #DC272D;

  }

  p {
    font-size: 21px;
    color: #DC272D;
    margin: 40px 0 0;
  }

  .banner-button {
    width: 243px;
    height: 50px;
    background-color: #FCB3E1;
    color: #231F20;
    font-size: 16px;
    margin-top: 40px;
    border-radius: 50px;
    border: 1px solid #231F20;
  }
}

footer {
  border-top: 1px solid #DC272D;
  box-sizing: border-box;
  width: 100%;
  height: 352px;
  margin-top: 150px;
  padding: 71px 0 50px;

  .tocobo-footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .tocobo-official {
      a {
        img {}
      }

      ul {
        padding: 30px 0 70px;
        color: #5B5B5B;
        font-size: 13px;
        line-height: 25px;

        li {
          span {
            display: block;
            width: auto;
            height: auto;
            background-color: #fff;
            letter-spacing: 0;
            padding: 30px 0 70px;
            margin: 0;
            color: #DC272D;
            font-size: 12px;
            line-height: 19px;
          }

          .cs-btn {
            button {
              border: none;
              background-color: transparent;
              color: #5B5B5B;
            }
          }
        }
      }
    }

    .footer-menu {
      width: 593px;
      height: 189px;
      display: flex;
      justify-content: space-between;

      ul {
        li {
          display: block;
          line-height: 1;
          margin-top: 12px;
          font-size: 15px;
          color: #6F6F6F;
          letter-spacing: 0;
          transition: all 0.3s;

          span {
            display: block;
            font-size: 18px;
            color: #DC272D;
            letter-spacing: 0;
            margin-bottom: 25px;
            font-family: 'Source Serif Pro', serif;
            font-style: italic;
          }
        }
      }
    }

    .cs-box {
      ul {
        .cs {
          font-size: 18px;
          font-weight: 400;
          color: #DC272D;
          letter-spacing: 0;
          font-family: 'Source Serif Pro', serif;
          font-style: italic;
          margin-bottom: 25px;
        }

        .number {
          font-size: 30px;
          margin-bottom: 17px;
          font-weight: 400;
          color: #DC272D;
          letter-spacing: 0;
        }

        .info {
          display: block;
          font-size: 14px;
          color: #5B5B5B;
          line-height: 22px;
        }

        button {
          position: relative;
          z-index: 33;
          display: inline-block;
          width: auto;
          margin-top: 20px;
          padding: 14px 72px 13px;
          letter-spacing: 0;
          background: #fff;
          border: 1px solid #DC272D;
          border-radius: 60px;
          text-align: center;
          font-size: 13px;
          color: #DC272D;
          transition: all 0.5s;
        }
        button:hover{
          content: '';
          color: #fff;
          background: #DC272D;
          transition: 0.7s;
        }
  
      }

      .sns-btn {
        button {
          border: none;
          background-color: transparent;
          padding: 141px 0 0;
          margin-right: 25px;

          img {}
        }
      }

    }
  }


}



// ---------------반응형---------------------
//SM
@media screen and (min-width:1399px) {

  //SM
  .container-2 {
    .swiper-button-next {
      right: calc(50% - 700px);
    }

    .swiper-button-prev {
      left: calc(50% - 700px);
    }
  }
}

@media screen and (max-width:1399px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 105px;
    background: transparent;
    width: 100%;
    margin-top: 35px;
    z-index: 2;


    .header-container01 {
      margin: 0 auto;
      display: table;

      a {
        max-width: 194px;
        height: 35px;

        img {}
      }
    }

    .header-container02 {

      display: flex;
      justify-content: space-between;
      margin-top: -35px;

      padding: 0 30px;

      .menu01 {
        height: 105px;

        ul {
          display: flex;
          justify-content: space-between;

          li {

            a {
              color: #DC272D;
              text-decoration: none;
              font-size: 18px;
              margin-right: 40px;

              &:hover {
                border-bottom: 2px solid #DC272D;
                transition: 3ms;
                animation-name: menu-liner;
                animation-duration: 3ms;
              }
            }
          }
        }
      }

      .icon {
        button {
          background: transparent;
          border: none;
          display: flex;
          width: 262px;
          justify-content: space-between;
        }

        span {
          img {
            padding: 0px 10px 0px 0px;
            cursor: pointer;
          }
        }

        .cart-count {
          display: inline-block;
          width: 26px;
          height: 26px;
          line-height: 28px;
          border-radius: 50%;
          margin-left: 5px;
          background-color: #DC272D;
          font-size: 15px;
          color: #FFFFFF;
          text-align: center;
          margin-left: -30px;
        }
      }
    }
  }

  main {
    position: relative;
    min-height: 100%;
    padding-bottom: 352px;
    top: 0;
    width: 100%;

    .a {
      width: 100vw;

      .swiper {
        width: 100%;
        height: 100%;

      }

      .swiper-slide {
        width: 100%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        a {
          width: 100%;
          height: 100%;

          img {
            display: block;
            width: 100%;
            object-fit: cover;

          }

        }

      }

      .swiper-horizontal>.swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        width: 10px;
        height: 66px;
        left: 11.5vw;
        bottom: 69px;
        color: #fff;
        font-size: 80px;
        font-style: italic;
        font-weight: 100;
        transform: translate(-20px, -40px)
      }


      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        right: auto;
        left: 7.2vw;
        bottom: 87px;
        top: auto;
        filter: brightness(100);
      }

      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        left: 15.6vw;
        bottom: 87px;
        top: auto;
        right: auto;
        filter: brightness(100);
        transform: rotate(180deg);

      }

      .swiper-button-next:after,
      .swiper-rtl .swiper-button-prev:after {
        display: none;
        content: 'next';
      }

      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next:after {
        display: none;
        content: 'prev';
      }

      .swiper-pagination span {
        font-style: none;
        font-size: 30px;
        color: #fff;
        font-family: "Florencesans", "Noto Sans KR";
      }

      .swiper-pagination-current {
        display: block;
        transform: translate(-10px, 20px);
      }

      .swiper-pagination-total {
        display: block;
        transform: translate(30px, -20px);

      }

      .swiper-horizontal>.swiper-pagination-progressbar,
      .swiper-pagination-progressbar.swiper-pagination-horizontal,
      .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
      .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
        width: 100%;
        height: 4px;
        left: 0;
        display: none;
        top: 90%;
      }
    }

    .hello-tocobo {
      display: flex;
      margin: 130px 0 100px 500px;


      img {
        width: 630px;
        height: 630px;
        border-radius: 20px;
      }

      .hello-text {
        text-align: center;
        align-items: center;
        width: 630px;
        padding: 6.5vw 0 0;
        margin-bottom: 7.2vw;

        .text01 {
          font-size: 19px;
          color: #009BDE;
        }

        h2 {
          font-size: 60px;
          color: #DC272D;
          line-height: 66px;
          margin: 30px auto 20px;
        }

        .text02 {
          color: #231F20;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.05em;
        }

        button {
          width: 229px;
          height: 50px;
          display: inline-block;
          margin: 30px 0 0;
          padding: 18px 60px;
          border-radius: 50px;
          background: linear-gradient(to bottom, #FF7E7E, #DC272D);
          border: none;
          color: #fff;
          cursor: pointer;
        }

        button:hover {
          content: '';
          background: #fff;
          color: #DC272D;
          border: 1px solid #DC272D;
          transition: 0.7s;
        }

      }
    }

    .contain {
      background: #EEF8FF;
      padding-bottom: 70px;

      .swiper-horizontal>.swiper-scrollbar,
      .swiper-scrollbar.swiper-scrollbar-horizontal {
        background: #fff;
      }

      .swiper-scrollbar-drag {
        height: 100%;
        width: 100%;
        position: relative;
        background: #009BDE;
        border-radius: 10px;
        left: 0;
        top: 0;
      }

      .b {
        width: 60%;

        .collection-title {
          text-align: center;
          padding: 100px 0 70px;

          h2 {
            font-size: 50px;
            color: #DC272D;
            line-height: 50px;
            margin: 0 0 20px;
            font-weight: 400;
            letter-spacing: 0;
          }

          p {
            font-size: 19px;
            color: #009BDE;
            letter-spacing: 0;
          }
        }

        .swiper {
          width: 100%;
          height: 100%;

        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: transparent;
          display: flex;
          flex-direction: column;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;

          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }



          .product-text {
            .btn {
              display: inline-block;
              font-size: 13px;
              color: #009BDE;
              margin-bottom: 20px;
              padding: 13px 18px 11px;
              border: 1px solid #009BDE;
              border-radius: 60px;
              font-weight: 500;
            }

            .t01 {
              font-size: 20px;
              line-height: 1;
              color: #231F20;
              font-family: 'Source Serif Pro', serif;
              font-weight: 500;
            }

            .t02 {
              font-size: 15px;
              color: #231F20;
              font-weight: 500;
              margin-top: 14px;
              letter-spacing: -0.05em;
            }
          }

          .img-box {
            width: 405px;
            height: 405px;
            background-color: #fff;
            border-radius: 20px;
            margin: 20px;

            .product-img {
              a {
                display: flex;

                img {

                  animation-name: floating;
                  animation-duration: 2.5s;
                  animation-iteration-count: infinite;
                  animation-timing-function: ease-in-out;
                  margin-left: 30px;
                  margin-top: 5px;
                }
              }
            }
          }

          .product-text02 {
            .ml {
              display: block;
              font-size: 16px;
              margin-bottom: 15px;
              color: #231F20;
              font-family: 'Source Serif Pro', serif;
              letter-spacing: 0px;
              font-style: italic;
              text-align: center;
            }

            .product-text03 {
              display: flex;
              justify-content: center;
              margin: 25px 0 50px 0;


              .sale {
                font-size: 20px;
                letter-spacing: 0;
                color: #DC272D;
                font-weight: 400;
                margin-right: 10px;
              }

              .pay {
                font-size: 20px;
                letter-spacing: 0;
              }
            }

          }
        }


      }

      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 10px;
        left: auto;
        transform: translateX(-350px);
      }

      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        transform: translateX(350px);
      }

    }

    .vegan-container {
      overflow: hidden;
      margin: 0 auto;
      width: 100%;

      transition-duration: 0ms;
      opacity: 1;
      margin-top: 130px;
      display: flex;

      .vegan-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        align-items: flex-start;
        left: 20%;

        h2 {
          font-size: 55px;
          color: #009BDE;
          line-height: 1;
          font-weight: 400;
          letter-spacing: 0;
        }

        p {
          font-size: 16px;
          color: #202020;
          line-height: 26px;
          margin-top: 25px;
        }

        button {
          display: inline-block;
          margin-top: 60px;
          padding: 17px 56px;
          letter-spacing: 0;
          border-radius: 50px;
          text-align: center;
          font-size: 16px;
          color: #fff;
          border: 1px solid #fff;
          background: linear-gradient(to bottom, #51CAFF, #009BDE);
          cursor: pointer;

        }

        button:hover {
          content: '';
          background: #fff;
          color: #009BDE;
          border: 1px solid #009BDE;
          transition: 0.7s;
        }

      }

      .c {
        height: 596px;

        .swiper {
          width: 100%;
          height: 100%;


        }


        .swiper-slide {
          text-align: center;
          font-size: 18px;
          justify-content: flex-start;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          height: 596px;
          width: 843px;
          object-fit: cover;

        }
      }

    }


    .tocobo-insta {
      margin: 0 auto;
      width: 1280px;
      padding-top: 130px;



      .insta-text {
        margin: 0 auto;
        text-align: left;

        h2 {
          font-size: 55px;
          color: #DC272D;
          line-height: 1;
          margin-bottom: 22px;
          font-weight: 400;
          letter-spacing: 0px;
        }

        p {
          font-size: 20px;
          color: #6F6F6F;
          line-height: 1;
          margin-bottom: 40px;
          font-family: 'Source Serif Pro', serif;
          letter-spacing: 0px;
          font-style: italic;
        }
      }

      .insta-img {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 100px;

        animation-name: text1;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        /* 수치변형함수 */
        animation-fill-mode: both;



        .d1 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta01.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
          // &:hover{
          //   position: absolute;
          //   width: 150px;
          //   background: #000;
          //   opacity: 30%;
          // }

        }

        .d2 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta02.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d3 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta03.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d4 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta04.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d5 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta05.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d6 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta06.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d7 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta07.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d8 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta08.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        // a.d2 {
        //   display: block;
        //   width: 200px;
        //   height: 200px;
        //   img{
        //     width: 100%;
        //     height: 100%;
        //   }
      }
    }

    .banner-text {
      position: absolute;
      top: 10%;
      transform: translateY(-100%);
      width: 632px;
      height: 160px;
      margin-left: 150px;
      z-index: 2;

      h1 {
        font-size: 73px;
        line-height: 85px;
        color: #DC272D;

      }

      p {
        font-size: 21px;
        color: #DC272D;
        margin: 40px 0 0;
      }

      .banner-button {
        width: 243px;
        height: 50px;
        background-color: #FCB3E1;
        color: #231F20;
        font-size: 16px;
        margin-top: 40px;
        border-radius: 50px;
        border: 1px solid #231F20;
      }
    }

  }
}

@media screen and (max-width:1023px) {
  header {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 105px;
    background: transparent;
    width: 100%;
    margin-top: 35px;
    z-index: 2;


    .header-container01 {
      margin: 0 auto;
      display: table;

      a {
        max-width: 194px;
        height: 35px;
      }
    }

    .header-container02 {

      display: none;
      justify-content: space-between;
      margin-top: -35px;

      padding: 0 30px;

      .menu01 {
        height: 105px;

        ul {
          display: flex;
          justify-content: space-between;

          li {

            a {
              color: #DC272D;
              text-decoration: none;
              font-size: 18px;
              margin-right: 40px;

              &:hover {
                border-bottom: 2px solid #DC272D;
                transition: 3ms;
                animation-name: menu-liner;
                animation-duration: 3ms;
              }
            }
          }
        }
      }

      .icon {
        display: none;

        button {
          background: transparent;
          border: none;
          display: flex;
          width: 262px;
          justify-content: space-between;
        }

        span {
          img {
            padding: 0px 10px 0px 0px;
            cursor: pointer;
          }
        }

        .cart-count {
          display: inline-block;
          width: 26px;
          height: 26px;
          line-height: 28px;
          border-radius: 50%;
          margin-left: 5px;
          background-color: #DC272D;
          font-size: 15px;
          color: #FFFFFF;
          text-align: center;
          margin-left: -30px;
        }
      }
    }
  }

  .container-2 {
    .w-1280 {
      max-width: 720px;

      .con-wrap {
        .swiper {
          transform: translate3d(10%, 0px, 0px);
        }

        .swiper-button-next,
        .swiper-button-prev {
          display: none;
        }
      }
    }
  }

  main {
    position: relative;
    min-height: 100%;
    padding-bottom: 352px;
    top: 0;
    width: 100%;

    .a {
      width: 100vw;
      display: block;

      .swiper {
        width: 100%;
        height: 100%;

      }

      .swiper-slide {
        width: 100%;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        a {
          width: 100%;
          height: 100%;

          img {
            display: block;
            width: 100%;
            height: 900px;
            object-fit: cover;

          }

        }

      }

      .swiper-horizontal>.swiper-pagination-bullets,
      .swiper-pagination-bullets.swiper-pagination-horizontal,
      .swiper-pagination-custom,
      .swiper-pagination-fraction {
        width: 10px;
        height: 66px;
        left: 11.5vw;
        bottom: 69px;
        color: #fff;
        font-size: 80px;
        font-style: italic;
        font-weight: 100;
        transform: translate(-20px, -40px)
      }


      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
        right: auto;
        left: 7.2vw;
        bottom: 87px;
        top: auto;
        filter: brightness(100);
      }

      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        left: 15.6vw;
        bottom: 87px;
        top: auto;
        right: auto;
        filter: brightness(100);
        transform: rotate(180deg);

      }

      .swiper-button-next:after,
      .swiper-rtl .swiper-button-prev:after {
        display: none;
        content: 'next';
      }

      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next:after {
        display: none;
        content: 'prev';
      }

      .swiper-pagination span {
        font-style: none;
        font-size: 30px;
        color: #fff;
        font-family: "Florencesans", "Noto Sans KR";
      }

      .swiper-pagination-current {
        display: block;
        transform: translate(-10px, 20px);
      }

      .swiper-pagination-total {
        display: block;
        transform: translate(30px, -20px);

      }

      .swiper-horizontal>.swiper-pagination-progressbar,
      .swiper-pagination-progressbar.swiper-pagination-horizontal,
      .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
      .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
        width: 100%;
        height: 4px;
        left: 0;
        display: none;
        top: 90%;
      }
    }

    .hello-tocobo {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 130px;


      img {
        width: 90%;
        height: 90%;
        margin: 0 auto;
        border-radius: 20px;
      }

      .hello-text {
        text-align: center;
        align-items: center;
        width: 630px;
        padding: 6.5vw 0 0;
        margin: 0 auto;
        margin-bottom: 7.2vw;

        .text01 {
          font-size: 19px;
          color: #009BDE;
        }

        h2 {
          font-size: 60px;
          color: #DC272D;
          line-height: 66px;
          margin: 30px auto 20px;
        }

        .text02 {
          color: #231F20;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: -0.05em;
        }

        button {
          width: 229px;
          height: 50px;
          display: inline-block;
          margin: 30px 0 0;
          padding: 18px 60px;
          border-radius: 50px;
          background: linear-gradient(to bottom, #FF7E7E, #DC272D);
          border: none;
          color: #fff;
          cursor: pointer;
        }

        button:hover {
          content: '';
          background: #fff;
          color: #DC272D;
          border: 1px solid #DC272D;
          transition: 0.7s;
        }

      }
    }

    .contain {
      background: #EEF8FF;
      padding-bottom: 70px;

      .swiper-horizontal>.swiper-scrollbar,
      .swiper-scrollbar.swiper-scrollbar-horizontal {
        background: #fff;
      }

      .swiper-scrollbar-drag {
        height: 100%;
        width: 100%;
        position: relative;
        background: #009BDE;
        border-radius: 10px;
        left: 0;
        top: 0;
      }

      .b {
        width: 100%;


        .collection-title {
          text-align: center;
          padding: 100px 0 70px;

          h2 {
            font-size: 50px;
            color: #DC272D;
            line-height: 50px;
            margin: 0 0 20px;
            font-weight: 400;
            letter-spacing: 0;
          }

          p {
            font-size: 19px;
            color: #009BDE;
            letter-spacing: 0;
          }
        }

        .swiper {
          width: 100%;
          height: 100%;

        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: transparent;
          display: flex;
          flex-direction: column;
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;


          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }



          .product-text {
            .btn {
              display: inline-block;
              font-size: 13px;
              color: #009BDE;
              margin-bottom: 20px;
              padding: 13px 18px 11px;
              border: 1px solid #009BDE;
              border-radius: 60px;
              font-weight: 500;
            }

            .t01 {
              font-size: 20px;
              line-height: 1;
              color: #231F20;
              font-family: 'Source Serif Pro', serif;
              font-weight: 500;
            }

            .t02 {
              font-size: 15px;
              color: #231F20;
              font-weight: 500;
              margin-top: 14px;
              letter-spacing: -0.05em;
            }
          }

          .img-box {
            width: 405px;
            height: 405px;
            background-color: #fff;
            border-radius: 20px;
            margin: 20px;

            .product-img {
              a {
                display: flex;

                img {

                  animation-name: floating;
                  animation-duration: 2.5s;
                  animation-iteration-count: infinite;
                  animation-timing-function: ease-in-out;
                  margin-left: 30px;
                  margin-top: 5px;
                }
              }
            }
          }

          .product-text02 {
            .ml {
              display: block;
              font-size: 16px;
              margin-bottom: 15px;
              color: #231F20;
              font-family: 'Source Serif Pro', serif;
              letter-spacing: 0px;
              font-style: italic;
              text-align: center;
            }

            .product-text03 {
              display: flex;
              justify-content: center;
              margin: 25px 0 50px 0;


              .sale {
                font-size: 20px;
                letter-spacing: 0;
                color: #DC272D;
                font-weight: 400;
                margin-right: 10px;
              }

              .pay {
                font-size: 20px;
                letter-spacing: 0;
              }
            }

          }
        }


      }

      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
        right: 10px;
        left: auto;
        transform: translateX(-350px);
      }

      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next:after {
        content: 'prev';
        transform: translateX(350px);
      }

    }

    .vegan-container {
      position: relative;
      // margin: 0 auto;
      // width: 100%;

      // transition-duration: 0ms;
      // opacity: 1;
      // margin-top: 130px;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;

      .vegan-text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        align-items: center;
        // display: flex;
        // flex-direction: column;
        // align-content: space-between;
        // justify-content: center;
        // align-items: flex-start;
        // left: 50%;
        // transform: translate(-50%,-100%);


        h2 {
          font-size: 33px;
          color: #009BDE;
          line-height: 1;
          font-weight: 400;
          letter-spacing: 0;
        }

        p {
          font-size: 13px;
          color: #202020;
          line-height: 26px;
          margin-top: 25px;
          text-align: center;
        }

        button {
          display: inline-block;
          margin-top: 30px;
          padding: 17px 56px;
          letter-spacing: 0;
          border-radius: 50px;
          text-align: center;
          font-size: 11px;
          color: #fff;
          border: 1px solid #fff;
          background: linear-gradient(to bottom, #51CAFF, #009BDE);
          cursor: pointer;

        }

        button:hover {
          content: '';
          background: #fff;
          color: #009BDE;
          border: 1px solid #009BDE;
          transition: 0.7s;
        }

      }

      .c {
        transform: translate(18%, 36%) !important;
        height: 596px;

        .swiper {
          width: 100%;
          height: 100%;
        }


        .swiper-slide {
          text-align: center;
          font-size: 18px;
          justify-content: flex-start;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
        }

        .swiper-slide img {
          display: block;
          height: 0%;
          width: 70%;
          object-fit: cover;
          left: 0;


        }
      }

    }


    .tocobo-insta {
      margin: 0 auto;
      width: 1280px;
      padding-top: 130px;



      .insta-text {
        margin: 0 auto;
        text-align: left;

        h2 {
          font-size: 55px;
          color: #DC272D;
          line-height: 1;
          margin-bottom: 22px;
          font-weight: 400;
          letter-spacing: 0px;
        }

        p {
          font-size: 20px;
          color: #6F6F6F;
          line-height: 1;
          margin-bottom: 40px;
          font-family: 'Source Serif Pro', serif;
          letter-spacing: 0px;
          font-style: italic;
        }
      }

      .insta-img {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-top: 100px;

        animation-name: text1;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        /* 수치변형함수 */
        animation-fill-mode: both;



        .d1 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta01.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
          // &:hover{
          //   position: absolute;
          //   width: 150px;
          //   background: #000;
          //   opacity: 30%;
          // }

        }

        .d2 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta02.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d3 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta03.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d4 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta04.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d5 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta05.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d6 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta06.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d7 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta07.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        .d8 {
          display: block;
          width: 150px;
          height: 150px;
          background: url(../03_images/Background/insta08.jpeg);
          background-size: 150px;
          background-repeat: no-repeat;
        }

        // a.d2 {
        //   display: block;
        //   width: 200px;
        //   height: 200px;
        //   img{
        //     width: 100%;
        //     height: 100%;
        //   }
      }
    }

    .banner-text {
      position: absolute;
      top: 10%;
      transform: translateY(-100%);
      width: 632px;
      height: 160px;
      margin-left: 150px;
      z-index: 2;

      h1 {
        font-size: 73px;
        line-height: 85px;
        color: #DC272D;

      }

      p {
        font-size: 21px;
        color: #DC272D;
        margin: 40px 0 0;
      }

      .banner-button {
        width: 243px;
        height: 50px;
        background-color: #FCB3E1;
        color: #231F20;
        font-size: 16px;
        margin-top: 40px;
        border-radius: 50px;
        border: 1px solid #231F20;
      }
    }

  }

  
}

@media screen and (max-width: 767px) {
  main .a {
    height: 720px;
  }

  main {
    .banner-text {
      top: 17%;
      transform: translateX(-100px);
      line-height: 0;

      h1 {
        font-size: 30px;
        line-height: 50px;
        color: #DC272D;

      }

      p {
        font-size: 18px;
        color: #DC272D;
        margin: 40px 0 0;
      }

      .banner-button {
        display: none;
      }
    }

    .a {
      height: 100%;

      .swiper-wrapper {
        .swiper-slide {
          a {
            .content-mo {
              height: 100%;
              content: url('./03_images/Background/mo_main01.png');
            }

            .content-mo02 {
              height: 100%;
              content: url('./03_images/Background/mo_main02.png');
            }

            .content-mo03 {
              height: 100%;
              content: url('./03_images/Background/mo_main03.png');
            }

            .content-mo04 {
              height: 100%;
              content: url('./03_images/Background/mo_main04.png');
            }

          }
        }
      }
    }
  }

  main .a .swiper-pagination span {
    font-style: none;
    font-size: 20px;
    color: #DC272D;
    font-family: "Florencesans", "Noto Sans KR";
    transform: translateX(-2px);
}
main .a .swiper-horizontal > .swiper-pagination-bullets, main .a .swiper-pagination-bullets.swiper-pagination-horizontal, main .a .swiper-pagination-custom, main .a .swiper-pagination-fraction {
  width: 28px;
  height: 45px;
  left: 13.5vw;
  bottom: 67px;
  color: #DC272D;
  font-size: 52px;
  font-style: italic;
  font-weight: 100;
  transform: translate(-18px, -40px);
}

  .swiper-button-next {
    img {
      width: 40px;
    }
  }

  .swiper-button-prev {
    img {
      width: 40px;
    }
  }

  main .vegan-container .c {
    transform: translate(-35%, 36%) !important;
    height: 554px;
}

  .d {
    width: 100%;
    transform: translateX(-12%);
    height: 330px;


    animation-name: text1;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* 수치변형함수 */
    animation-fill-mode: both;


    .swiper {
      width: 100%;
      height: 100%;

    }




    .swiper-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0;
      background-color: #EEF8FF;



      h2 {
        font-size: 55px;
        color: #DC272D;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.02em;
        margin-bottom: 25px;
      }

      .review-text {

        font-size: 20px;
        color: #231F20;
        font-weight: 500;
      }

      .info {
        font-size: 15px;
        color: #6F6F6F;
        line-height: 25px;
        margin-top: 20px;
      }

      .date {
        font-size: 15px;
        color: #231F20;
        font-family: 'Source Serif Pro', serif;
        font-style: italic;
        margin-top: 30px;
        letter-spacing: 0;
      }
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: transparent;
      flex-direction: column;
      padding-top: 30px;



      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

  }

  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    content: 'next';
    transform: translateX(-350px);
    display: none;
  }

  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: 'prev';
    transform: translateX(700px);
    display: none;
  }

  main .a .swiper-button-next, main .a .swiper-rtl .swiper-button-prev {
    left: 15.6vw;
    bottom: 87px;
    top: auto;
    right: auto;
    filter: none;
    transform: rotate(180deg);
}
main .a .swiper-button-prev, main .a .swiper-rtl .swiper-button-next {
  right: auto;
  left: 7.2vw;
  bottom: 87px;
  top: auto;
  filter: none;
}
}
