@import url(./common.css);

header {
  position: fixed;
  top: 0;
  /* width: 100% */
  left: 0;
  right: 0;

  height: 105px;
  background: transparent;
  width: 100%;
  padding-top: 35px;
  



  .header-container01 {
    margin: 0 auto;
    display: table;

    a {
      max-width: 194px;
      height: 35px;

      img {}
    }
  }

  .header-container02 {

    display: flex;
    justify-content: space-between;
    margin-top: -35px;

    padding: 0 30px;

    .menu01 {
      height: 105px;

      ul {
        display: flex;
        justify-content: space-between;

        li {
          a {
            color: #DC272D;
            text-decoration: none;
            font-size: 18px;
            margin-right: 40px;
          }
        }
      }
    }

    .icon {
      button {
        background: transparent;
        border: none;
        display: flex;
        width: 262px;
        justify-content: space-between;
      }
      span {
        img {
          padding: 0px 10px 0px 0px;
          cursor: pointer;
        }
      }
      .cart-count{
        display: inline-block;
        width: 26px;
        height: 26px;
        line-height: 28px;
        border-radius: 50%;
        margin-left: 5px;
        background-color: #DC272D;
        font-size: 15px;
        color: #FFFFFF;
        text-align: center;
        margin-left: -30px;
      }
    }
  }
}

main{
  width: 100%;
  
  .main-title{
    text-align: center;
    padding: 100px 0 0 0;
    background: linear-gradient(to bottom,#eef9ff,#fff);
    p{
      font-size: 19px;
      color: #009BDE;
      margin-bottom: 25px;
    }
    h2{
      font-family: 'Circular Std';
      font-style: bold;
      font-weight: 400;
      font-size: 60px;
      line-height: 60px;
      text-align: center;
      color: #DC272D;
      letter-spacing: 0;
      padding-bottom: 70px;
    }
  }
  .main-container01{
    width: 100%;
    a{
      width: 100%;
      background: url('../03_images/Background/promotion_banner01.jpg');
      display: block;
      height: 31.25vw;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .text-box01{
      text-align: center;
      margin-bottom: 120px;
      margin-top: 60px;
      .p01{
        margin-bottom: 16px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0;
        color: #DC272D;
      }
      .p02{
        margin-bottom: 25px;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.05em;
        color: #231F20;
      }
      .p03{
        margin-bottom: 30px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #6F6F6F;
        letter-spacing: 0;
      }
      button{
        box-sizing: border-box;
        border: 1px solid #DC272D;
        background-color: transparent;
        border-radius: 50px;
        color: #DC272D;
        display: block;
        width: 293px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        font-size: 14px;
        letter-spacing: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
      }
      button:hover{
        content: '';
        color: #fff;
        background: #DC272D;
        transition: 0.7s;
      }

    }
  }
  .main-container02{
    a{
      width: 100%;
      background-image: url('../03_images/Background/promotion_banner02.jpg');
      display: block;
      height: 31.25vw;
      background-size: contain;
      background-repeat: no-repeat;
    }
    .text-box02{
      text-align: center;
      margin-bottom: 120px;
      margin-top: 60px;
      .p01{
        margin-bottom: 16px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        
        letter-spacing: 0;
        color: #DC272D;
      }
      .p02{
        margin-bottom: 25px;
        font-family: 'Noto Sans KR';
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: -0.05em;
        color: #231F20;
      }
      .p03{
        margin-bottom: 30px;
        font-family: 'Circular Std';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #6F6F6F;
        letter-spacing: 0;
      }
      button{
        box-sizing: border-box;
        border: 1px solid #DC272D;
        background-color: transparent;
        border-radius: 50px;
        color: #DC272D;
        display: block;
        width: 293px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        font-size: 14px;
        letter-spacing: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
      }
      button:hover{
        content: '';
        color: #fff;
        background: #DC272D;
        transition: 0.7s;
      }

    }
  }
}

footer {
  border-top: 1px solid #DC272D;
  box-sizing: border-box;
  width: 100%;
  height: 352px;
  margin-top: 150px;
  padding: 71px 0 50px;

  .tocobo-footer{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .tocobo-official{
    a{
      img{}
    }
    ul{
    padding: 30px 0 70px;
    color: #5B5B5B;
    font-size: 13px;
    line-height: 25px;
    
      li{
        span{
          display: block;
          width: auto;
          height: auto;
          background-color: #fff;
          letter-spacing: 0;
          padding: 30px 0 70px;
          margin: 0;
          color: #DC272D;
          font-size: 12px;
          line-height: 19px;
        }
        .cs-btn{
          button{
            border: none;
            background-color: transparent;
            color: #5B5B5B;
          }
      
    
        }
      }
    }
  }

  .footer-menu {
    width: 593px;
    height: 189px;
    display: flex;
    justify-content: space-between;

    ul {
      li {
        display: block;
        line-height: 1;
        margin-top: 12px;
        font-size: 15px;
        color: #6F6F6F;
        letter-spacing: 0;
        transition: all 0.3s;

        span {
          display: block;
          font-size: 18px;
          color: #DC272D;
          letter-spacing: 0;
          margin-bottom: 25px;
          font-family: 'Source Serif Pro', serif;
          font-style: italic;
        }
      }
    }
  }

  .cs-box {
    ul {
      .cs {
        font-size: 18px;
        font-weight: 400;
        color: #DC272D;
        letter-spacing: 0;
        font-family: 'Source Serif Pro', serif;
        font-style: italic;
        margin-bottom: 25px;
      }

      .number {
        font-size: 30px;
        margin-bottom: 17px;
        font-weight: 400;
        color: #DC272D;
        letter-spacing: 0;
      }

      .info {
        display: block;
        font-size: 14px;
        color: #5B5B5B;
        line-height: 22px;
      }

      button {
        position: relative;
        z-index: 33;
        display: inline-block;
        width: auto;
        margin-top: 20px;
        padding: 14px 72px 13px;
        letter-spacing: 0;
        background: #fff;
        border: 1px solid #DC272D;
        border-radius: 60px;
        text-align: center;
        font-size: 13px;
        color: #DC272D;
        transition: all 0.5s;
      }
      button:hover{
        content: '';
        color: #fff;
        background: #DC272D;
        transition: 0.7s;
      }

    }

    .sns-btn {
      button {
        border: none;
        background-color: transparent;
        padding: 141px 0 0;
        margin-right: 25px;

        img {}
      }
    }

  }
  }

  
}