@import url(./common.css);
main {
  width: 100%;
}
main .main-title {
  text-align: center;
  padding: 100px 0 0 0;
  background: linear-gradient(to bottom, #eef9ff, #fff);
}
main .main-title p {
  font-size: 19px;
  color: #009BDE;
  margin-bottom: 25px;
}
main .main-title h2 {
  font-family: "Circular Std";
  font-style: bold;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  color: #DC272D;
  letter-spacing: 0;
  padding-bottom: 70px;
}
main .main-container01 {
  width: 100%;
}
main .main-container01 .I1 {
  width: 100%;
  display: block;
  height: 31.25vw;
  overflow: hidden;
}
main .main-container01 .I1 img {
  width: 100%;
  transition: 1s;
}
main .main-container01 .I1 img:hover {
  transform: scale(1.15);
}
main .main-container01 .text-box01 {
  text-align: center;
  margin-bottom: 120px;
  margin-top: 60px;
}
main .main-container01 .text-box01 .p01 {
  margin-bottom: 16px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0;
  color: #DC272D;
}
main .main-container01 .text-box01 .p02 {
  margin-bottom: 25px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #231F20;
}
main .main-container01 .text-box01 .p03 {
  margin-bottom: 30px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #6F6F6F;
  letter-spacing: 0;
}
main .main-container01 .text-box01 button {
  box-sizing: border-box;
  border: 1px solid #DC272D;
  background-color: transparent;
  border-radius: 50px;
  color: #DC272D;
  display: block;
  width: 293px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
main .main-container01 .text-box01 button:hover {
  content: "";
  color: #fff;
  background: #DC272D;
  transition: 0.7s;
}
main .main-container02 .I2 {
  width: 100%;
  display: block;
  height: 31.25vw;
  overflow: hidden;
}
main .main-container02 .I2 img {
  width: 100%;
  transition: 1s;
}
main .main-container02 .I2 img:hover {
  transform: scale(1.15);
}
main .main-container02 .text-box02 {
  text-align: center;
  margin-bottom: 120px;
  margin-top: 60px;
}
main .main-container02 .text-box02 .p01 {
  margin-bottom: 16px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0;
  color: #DC272D;
}
main .main-container02 .text-box02 .p02 {
  margin-bottom: 25px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #231F20;
}
main .main-container02 .text-box02 .p03 {
  margin-bottom: 30px;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #6F6F6F;
  letter-spacing: 0;
}
main .main-container02 .text-box02 button {
  box-sizing: border-box;
  border: 1px solid #DC272D;
  background-color: transparent;
  border-radius: 50px;
  color: #DC272D;
  display: block;
  width: 293px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
main .main-container02 .text-box02 button:hover {
  content: "";
  color: #fff;
  background: #DC272D;
  transition: 0.7s;
}

@media screen and (max-width: 767px) {
  main {
    width: 100%;
  }
  main .main-title {
    text-align: center;
    padding: 100px 0 0 0;
    background: linear-gradient(to bottom, #eef9ff, #fff);
  }
  main .main-title p {
    font-size: 14px;
    color: #009BDE;
    margin-bottom: 15px;
  }
  main .main-title h2 {
    font-family: "Circular Std";
    font-style: bold;
    font-weight: 400;
    font-size: 34px;
    line-height: 60px;
    text-align: center;
    color: #DC272D;
    letter-spacing: 0;
    padding-bottom: 70px;
  }
  main .main-container01 {
    width: 100%;
  }
  main .main-container01 .I1 {
    display: block;
    height: 80vw;
    overflow: hidden;
  }
  main .main-container01 .I1 img {
    height: 100%;
    transition: 1s;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .main-container01 .I1 img:hover {
    transform: scale(1.15);
  }
  main .main-container01 .text-box01 {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 60px;
  }
  main .main-container01 .text-box01 .p01 {
    margin-bottom: 13px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0;
    color: #DC272D;
  }
  main .main-container01 .text-box01 .p02 {
    margin-bottom: 25px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.05em;
    color: #231F20;
  }
  main .main-container01 .text-box01 .p03 {
    margin-bottom: 30px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6F6F;
    letter-spacing: 0;
  }
  main .main-container01 .text-box01 button {
    box-sizing: border-box;
    border: 1px solid #DC272D;
    background-color: transparent;
    border-radius: 50px;
    color: #DC272D;
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
  main .main-container01 .text-box01 button:hover {
    content: "";
    color: #fff;
    background: #DC272D;
    transition: 0.7s;
  }
  main .main-container02 {
    width: 100%;
  }
  main .main-container02 .I2 {
    display: block;
    height: 80vw;
    overflow: hidden;
  }
  main .main-container02 .I2 img {
    height: 100%;
    transition: 1s;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .main-container02 .text-box02 {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 60px;
  }
  main .main-container02 .text-box02 .p01 {
    margin-bottom: 13px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0;
    color: #DC272D;
  }
  main .main-container02 .text-box02 .p02 {
    margin-bottom: 25px;
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.05em;
    color: #231F20;
  }
  main .main-container02 .text-box02 .p03 {
    margin-bottom: 30px;
    font-family: "Circular Std";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6F6F6F;
    letter-spacing: 0;
  }
  main .main-container02 .text-box02 button {
    box-sizing: border-box;
    border: 1px solid #DC272D;
    background-color: transparent;
    border-radius: 50px;
    color: #DC272D;
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
  main .main-container02 .text-box02 button:hover {
    content: "";
    color: #fff;
    background: #DC272D;
    transition: 0.7s;
  }
}/*# sourceMappingURL=sub2.css.map */